.add-container {
    margin: 48px 130px;

    .add-title {
        margin: 32px 0;
        font-size: 32px;
    }
}

@media screen and (max-width: 680px) {
    .add-container {
        margin: 0 16px;
    }
    .add-title {
        margin: 16px 0;
    }

    .add-form-inputs {
        display: flex;
        flex-direction: column;
    }
    .add-form-title-wrapper {
        padding-top: 16px;
    }
    .add-image-form-input {
        width: 70%;
    }
    .add-title-form-input,
    .add-description-form-input {
        width: 100%;
    }

    .add-form-btn {
        display: flex;
        justify-content: center;
    }
    .add-btn {
        width: 100%;
        border: 1px solid #ff5a5f;
        border-radius: 8px;
    }
}

@media screen and (min-width: 681px) and (max-width: 814px) {
    .add-container {
        margin: 0 16px;
    }
    .add-title {
        margin: 16px 0;
    }
    .add-description-form-input {
        margin-right: 16px;
    }
}

@media screen and (min-width: 815px) and (max-width: 1024px) {
    .add-container {
        margin: 0 16px;
    }

    .add-title {
        margin: 16px 0;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .add-container {
        margin: 0 16px;
    }

    .add-title {
        margin: 16px 0;
    }
}
