.add-form-inputs {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 16px;

    .add-form-image-wrapper {
        grid-row: 1/3;

        .add-image-form-input {
            text-align: center;
            padding: 0 12px;
            width: 288px;
            height: 212px;
            border: 2px solid $background;
            border-radius: 8px;
        }
    }
    .add-form-title-wrapper {
        grid-row: 1/2;

        .add-title-form-input {
            padding: 16px;
            width: 328px;
            height: 56px;
            border: 2px solid $background;
            border-radius: 8px;
        }
    }
    .add-form-description-wrapper {
        grid-row: 2/3;

        .add-description-form-input {
            padding: 16px;
            margin-top: 16px;
            width: 417px;
            height: 136px;
            border: 2px solid $background;
            border-radius: 8px;
        }
    }
    .add-form-btn {
        margin-top: 16px;
        .add-btn {
            padding: 16px 20px;
            border: 1px solid #ff5a5f;
            border-radius: 8px;
            background: $bg-button;
            color: $txt-button;
        }
    }
}
